// font #####################################################

/* Noto Serif JP */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');

.font-noto {font-family: 'Noto Serif JP', serif;}


/* Martel */
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200&display=swap');

.font-Martel { font-family:  'Martel', serif;}


/* Shippori Mincho */
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');

.font-shippori {font-family: 'Shippori Mincho B1', serif;}
