html {
  height: 100%;
  overflow: hidden;
}

.wrapper {
  margin: 0;
  padding: 0;
  -webkit-perspective: 1px;
  perspective: 1px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.page-header,
.page-header-block {
  box-sizing: border-box;
  min-height: 40vw;
  position: relative;
  -webkit-transform-style: inherit;
  transform-style: inherit;
  width: 100vw;

  @include mq-d {
    padding: 10vw 0 5vw;
    height: 60vh;
  }

  @include mq-m {
    height: 80vh;
    padding-top: size-m(130);
  }
}
.page-header,
.page-header-block,
.page-header:before,
.page-header-block:before {
  background: 50% 50% / cover;
}

%page-header {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-size: cover;
  -webkit-transform-origin: center center 0;
  -webkit-transform: translateZ(-1px) scale(2);
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

.page-header::before {
  background-image: url('../img/01.jpg');
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-size: cover;
  -webkit-transform-origin: center center 0;
  -webkit-transform: translateZ(-1px) scale(2);
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

.page-header-block::before {
  @extend %page-header;

  background-image: url('../img/01.jpg');
}

.page-header *,
.page-header-block * {
  font-weight: normal;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
  padding: 1em 0;
}

.page-header-subtitle {
  background-color: hsla(0, 0%, 100%, 0.1);
  color: #fff;
}

.page-block,
.page-header-block {
  display: block;

  @include mq-d {
    margin-bottom: 100px;
  }

  @include mq-m {
    margin-bottom: size-m(30);
  }
}

.page-container {
  height: 100%;

  @include mq-d {
    padding-bottom: 300px;
  }

  @include mq-m {
    padding-bottom: size-m(200);
  }
}

.intro {
  height: 600px;

  @include mq-d {
    padding: 50px;
  }

  @include mq-m {
    padding: size-m(30);
  }
}

.intro-lead-note {
  color: $col_bk;

  @include mq-d {
    height: 300px;
  }

  @include mq-m {
    height: size-m(100);
    margin-bottom: size-m(50);
  }
}

.intro-note {
  color: $col_bk;
}

.intro-inner {
  position: relative;
  display: block;

  @include mq-d {
    margin-bottom: 200px;
    height: 750px;
  }

  @include mq-m {
    margin-bottom: size-m(50);
    height: size-m(250);
  }
}

.intro-text-block {
  background-color: #fff;
  text-align: left;
  vertical-align: middle;
  width: fit-content;
  position: absolute;
  z-index: 122;
  vertical-align: middle;

  @include mq-d {
    padding: 50px 100px;
    height: 250px;
  }

  @include mq-m {
    padding: size-m(10);
    height: size-m(100);
  }
}

.intro-img1 {
  width: 80%;
  object-fit: contain;
  z-index: 102;

  @include mq-d {
    max-width: 800px;
    height: 500px;
  }

  @include mq-m {
    height: size-m(250);
  }
}

.right {
  position: absolute;
  right: 0;

  @include mq-d {
    top: 300px;
  }

  @include mq-m {
    top: size-m(50);
  }
}

.textbox-right {
  position: absolute;
  right: 0;

  @include mq-d {
    top: 300px;
  }

  @include mq-m {
    bottom: 0;
  }
}

.left {
  position: absolute;
  @include mq-d {
    left: 200px;
    top: 200px;
  }

  @include mq-m {
    left: 0;
    top: 0;
  }
}
//=======================================
.menu {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.menu-page-title {
  @include mq-d {
    margin-bottom: 100px;
    width: 300px;
  }

  @include mq-m {
    width: size-m(180);
    margin-bottom: size-m(20);
  }
}

.menupage_menu {
  position: relative;

  @include mq-d {
    height: 700px;
    margin-bottom: 50px;
  }
}

%price {
  height: 100%;
  z-index: 100;

  @include mq-d {
    top: 0;
    width: 50%;
  }

  @include mq-m {
    width: 100%;
    //bottom: size-m(-30);
  }
}

.price-right {
  @extend %price;

  right: 0;
}

.price-left {
  @extend %price;

  left: 0;
}

.menupage_menu-wrapper {
  height: 100%;
  position: relative;
}

.menupage_menu-img {
  @include mq-d {
    height: 100%;
  }

  @include mq-m {
    height: size-m(500);
  }
}

.menupage_price-block {
  position: absolute;
  z-index: 400;

  p {
    color: $col_bk;
  }

  @include mq-d {
    padding: 70px 100px;
  }

  @include mq-m {
    padding-top: size-m(10);
    padding-bottom: size-m(10);
    padding-left: size-m(40);
    padding-right: size-m(40);
  }
}

%menupage_price-frame {
  background-color: rgba(255, 255, 255, 0.93);

  @include mq-d {
    position: absolute;
    z-index: 300;
    top: 0;
    width: 48%;
  }

  @include mq-m {
    width: size-m(290);
    bottom: size-m(0);
    margin-top: size-m(-50);
    margin-bottom: size-m(30);
  }
}

.menupage_price-frame-right {
  @extend %menupage_price-frame;
  right: 0;
}

.menupage_price-frame-left {
  @extend %menupage_price-frame;
  left: 0;
}

.menupage_price-frame-right {
  @extend %menupage_price-frame;
  right: 0;
}

.menupage_price-header {
  @include mq-d {
    font-size: 24px;
  }

  @include mq-m {
    font-size: size-m(10);
  }
}

.menupage_price {
  width: 100%;
  border-bottom: 1px solid $col_bk;

  @include mq-d {
    margin-bottom: 10px;
    padding-bottom: 20px;
    font-size: 32px;
  }

  @include mq-m {
    margin-bottom: size-m(5);
    font-size: size-m(16);
    padding-bottom: 0;
  }
}

.menupage_price-price {
  @include mq-d {
    font-size: 24px;
  }

  @include mq-m {
    font-size: size-m(14);
  }
}

.menupage_menu-time {
  @include mq-d {
    font-size: 14px;
    margin-bottom: 40px;
  }

  @include mq-m {
    font-size: size-m(11);
    margin-bottom: size-m(30);
  }
}

.menupage_menu-note {
  @include mq-d {
    font-size: 16px;
  }

  @include mq-m {
    font-size: size-m(10);
  }
}
